@import "../variables";

.btn
{
	&.btn-primary
	{
		background    : $primary;
		color         : $white;
		font-weight   : bolder;
		font-size     : 22px;
		padding       : 8px 10px;
		border-radius : 3px;
		border        : none;
		
		&:hover, &:focus
		{
			background : rgba($primary, .8);
		}
	}
	
	&.btn-primary-light
	{
		background    : $white;
		color         : $primary;
		font-weight   : bolder;
		font-size     : 22px;
		padding       : 8px 10px;
		border-radius : 3px;
		
		&:hover, &:focus
		{
			background : rgba($primary, .3);
		}
	}
}

.btn-bar
{
	display         : flex;
	flex-direction  : row;
	justify-content : flex-end;
	padding         : 20px 20px 15px;
	.btn
	{
		margin          : 0 10px;
	}
}