@import "variables";

body
{
	background      : url("../img/background.png") no-repeat top;
	background-size : 100% auto;
	
	a
	{
		color : black;
		
		&:hover
		{
			color           : black;
			text-decoration : none;
		}
	}
	
	nav
	{
		padding         : 20px 150px !important;
		background      : none;
		display         : flex;
		justify-content : space-between !important;
		
		.logo
		{
			display         : flex;
			flex-direction  : row;
			justify-content : center;
			align-items     : center;
			
			.navbar-brand
			{
				img
				{
					width : 100px;
				}
			}
			
			.brand-name
			{
				display        : flex;
				flex-direction : column;
				
				a
				{
					color: $white;
					
					&:hover
					{
						color: $white;
					}
					
					&.subtitle
					{
						font-size: 15px;
					}
				}
			}
		}
		
		.navbar-items
		{
			display         : flex;
			justify-content : flex-end;
			
			.navbar-item .nav-link
			{
				margin        : 0 5px;
				color         : $white;
				font-size     : 20px;
				font-family   : $main-font;
				font-weight   : 400;
				border-bottom : 3px solid transparent;
				transition    : border-bottom-color .3s ease;
				
				&:hover, &.active
				{
					color         : $white;
					border-bottom : 3px solid $white;
				}
			}
		}
	}
	
	.container
	{
		max-width : 100%;
		padding   : 25px 100px;
		
		.call-to-action
		{
			display         : flex;
			flex-direction  : column;
			justify-content : center;
			align-content   : center;
			align-items     : center;
			
			h1
			{
				text-align : center;
				color      : $white;
			}
			
			.form-group
			{
				width : 40%;
				
				label
				{
					color : white;
				}
			}
			
			.btn
			{
				margin-top : 50px;
			}
			
		}
	}
}
